<!DOCTYPE html>
<html>
<head><title>Sistema de Estoque</title></head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_home.css') }}">
<body>
    <h1>Sistema de Estoque</h1>
    <ul>
        <li><a href="{{ url_for('register') }}">Cadastrar Produto</a></li>
        <li><a href="{{ url_for('view') }}">Visualizar Estoque</a></li>
        <li><a href="{{ url_for('add') }}">Adicionar ao Estoque</a></li>
        <li><a href="{{ url_for('remove') }}">Remover do Estoque</a></li>
        <li><a href="{{ url_for('update_name') }}">Atualizar Nome</a></li>
        <li><a href="{{ url_for('update_price') }}">Atualizar Preço</a></li>
    </ul>
</body>
</html>