<!DOCTYPE html>
<html>
<head><title>Atualizar Nome</title></head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_update_name.css') }}">
<body>
    <h2>Atualizar Nome do Produto</h2>
    {% if message %}<p style="color:red;">{{ message }}</p>{% endif %}
    <form method="post">
        Nome Atual: <input type="text" name="current_name" required><br>
        Novo Nome: <input type="text" name="new_name" required><br>
        <button type="submit">Atualizar</button>
    </form>
    <a href="{{ url_for('home') }}">Voltar</a>
</body>
</html>